- form_for(@project, :html => { :multipart => true }) do |f|
  %h2 Drag box to crop image thumbnail
  = f.error_messages
  %p
    = image_tag(@project.artwork.url, :id => "cropbox")
  .crop_coords
    = f.hidden_field 'x1', :size => 6
    = f.hidden_field 'y1', :size => 6
    = f.hidden_field 'width', :size => 6
    = f.hidden_field 'height', :size => 6
    %p
      = f.submit 'Save'

= link_to 'Show', @project |
= link_to 'Back', projects_path
