#work
  - if signed_in?
    %span.admin_panel
      = link_to('View Active Projects', projects_path, :class => "lg_link")
  - @projects.in_groups_of(6) do |project_group|
    .row
      - project_group.each do |project|
        -if project
          .project
            %span.title
              = "&quot;#{h(project.title)}&quot;"
            %span.description
              = h(project.description)
            %a{:href => project.artwork.url, :target => "_blank", :class => "lightbox_trigger"}
              = image_tag(project.artwork.url(:thumb_off), :width => 125, :height => 168, :alt => project.title)
              = image_tag(project.artwork.url(:thumb_on), :width => 125, :height => 168, :alt => "", :class => "on")
            - if signed_in?
              #admin_controls
                = "&quot;#{h(project.title)}&quot;"
                %br
                = link_to 'Edit', edit_project_path(project)
                |
                = link_to 'Activate', activate_project_path(project)
